@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-image: url("/bg-tiled.jpg");
  background-repeat: repeat;
}

main {
  background-color: rgba(0, 0, 0, 0.8);
  border-left: 2px solid #444;
  border-right: 2px solid #444;
  margin-top: 72px;
}

.custom-glow {
  box-shadow: 0 8px 15px rgba(5, 75, 75, 0.6);
}
